section .Grid_Element1{
    background: var(--Grid_Red);
}
section .Grid_Element2{
    background: var(--Grid_Green);
    color: var(--Full_White);
}
section .Grid_Element3{
    background: var(--Grid_Dark_Blue);
    color: var(--Full_White);
}
section .Grid_Element4{
    background: var( --Grid_Ligth_Blue);
}
section .Grid_Element5{
    background: var(--Grid_Orange);
}
section .Grid_Element6{
    background: var(--Grid_Purple);
    color: var(--Full_White);
}
section .Grid_Element7{
    background: var(--Grid_Yellow);
}
section .Grid_Element8{
    background: var(--grid_Pink);
    color: var(--Full_White)
}

.Section_Running_Activity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid var(--Full_Black);
    border-radius: 10px;
    background: var(--Grid_Green);
    width: 700px;
    padding: 10px;
    font-size: 20px;
}

section .Section_Activity {
    width: 180px;
    height: 180px;
    border: 2px solid var(--Full_Black);
    border-radius: 15px;
    font-size: 100px;
    transform: rotate(45deg);
    background: var(--Ligth_Sexy_Gray);
    display: flex;
    justify-content: center;
    align-items: center;
}

section .Section_Activity i {
    transform: rotate(-45deg);
    color: var(--Grid_Green);
    animation: Activity_Rotate 0.4s;
    animation-iteration-count: 1;
}

section .Section_SideBar {
    transform: rotate(180deg);
    height: 180px;
    writing-mode: vertical-lr;
    display: flex;
    justify-content: center;
    position: relative;
}

section .Section_SideBar i {
    position: absolute;
    bottom: 0;
    padding: 5px;
    background: var(--Ligth_Sexy_Gray);
    border-radius: 50%;
    border: 2px solid var(--Full_Black);
    font-size: 25px;
    cursor: pointer;
}

/* Animaciones */

section .Section_Activity:hover {
    animation: Square_Activity_Rotate 1.5s infinite;
}