@keyframes Rotate{

    0%{
        transform: rotate(0deg);
    }
    14% {
        transform: rotate(45deg);
    }
    26% {
        transform: rotate(90deg);
    }
    38% {
        transform: rotate(135deg);
    }
    50% {
        transform: rotate(180deg);
    }
    62% {
        transform: rotate(225deg);
    }
    74% {
        transform: rotate(270deg);
    }
    86% {
        transform: rotate(315deg);
    }
    100% {
        transform: rotate(360deg);
    }
    
}

@keyframes Square_Activity_Rotate {
    0%, 20% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(405deg);
    }
}

@keyframes Filler_Sitting {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
