@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');

:root {
    --Shining_Green: #00bb2d;
    --Full_White: #fff;
    --Full_Black: #000;
    --Ligth_Gray: #ededed;
    --Dark_Gray: #bbb;

    --Grid_Red: #f00;
    --Grid_Green: #19c919;
    --Grid_Dark_Blue: #4040fb;
    --Grid_Ligth_Blue: #5ab2da;
    --Grid_Orange: #ffa333;
    --Grid_Purple: #8a2be2;
    --Grid_Yellow: #f7d547;
    --grid_Pink: #ed58a4;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding: 45px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Oswald';
    gap: 20px;
    transition: background 0.6s, color 0.6s;
    zoom: 110%;
}

header {
    width: 100%;
    height: 500px;
    background: var(--Shining_Green);
    color: var(--Full_White);
    display: flex;
    flex-direction: column;
}

header ul {
    list-style: none;
    display: flex;
    gap: 15px;
    width: 100%;
    background: var(--Full_Black);
    padding: 10px;
    position: fixed;
    top: 0;
    z-index: 20;
}

header ul .Header_Dark {
    position: absolute;
    right: 20px;
    font-size: 20px;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

header .Header_Sitting {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    position: relative;
    gap: 15px;
}

header .Header_Sitting h1 {
    font-size: 80px;
    letter-spacing: .1em;
}

header .Header_Sitting a {
    background: var(--Full_White);
    padding: 10px 20px;
    border-radius: 5px;
    color: var(--Full_Black);
}

/* Estilos generales */

a {
    color: inherit;
    text-decoration: none;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

section article {
    width: 600px;
    text-align: center;
}

section .Section_Content {
    display: flex;
    align-items: center;
    gap: 50px;
}

section .Section_Paragraph {
    width: 500px;
}

section .Section_End_Paragraph {
    width: 500px;
    text-align: end;
}

/* Fin de estilos generales */

section .Section_Grid {
    width: 300px;
    height: 140px;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    gap: .15em;
}

section .Grid_Element {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

picture {
    display: flex;
    gap: 80px;
    text-align: center;
}

picture .Picture_Img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/* Acitivades */

.CutSection {
    width: 100%;
    font-size: 30px;
    background: var(--Shining_Green);
    color: var(--Full_White);
    height: 150px;
    text-align: center;
    line-height: 150px;
    letter-spacing: .1em;
}

section .Activity_Section_Grid {
    width: 300px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

section .Activity_Section_Grid p {
    grid-column: 1/5;
    text-align: center;
}

.Activity_Section_Grid .Activity_Grid_Element {
    height: 85px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Fin de actividades */

footer {
    width: 98%;
    padding: 20px 100px;
    background: var(--Full_Black);
    color: var(--Full_White);
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    margin: 20px;
}

footer h1 {
    font-size: 120px;
    position: relative;
    letter-spacing: 5px;
    cursor: default;
}

footer h1::before{
    content: "Sittingn't";
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    color: var(--Shining_Green);
    width: 0;
}

footer .Footer_Content ul{
    list-style: none;
}

footer .Footer_Content ul li{
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .Footer_Content ul li a{
    text-decoration: none;
    color: inherit;
    font-size: 25px;
}

/* Animaciones */

header .Header_Sitting a:hover {
    box-shadow: 5px 5px 20px -10px var(--Full_Black);
}

header ul .Header_Dark {
    transition: color 0.2s;
}
header ul .Header_Dark:hover {
    color: var(--Shining_Green);
}

Footer h1, .Footer_Content ul li a, a {
    transition: color 0.4s ease;
}
.Footer_Content ul li a:hover, header a:hover {
    color: var(--Grid_Green);
}

footer h1:hover:before{
    animation: Filler_Sitting 0.5s linear both;
}