@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');

:root {
    --Shining_Green: #00bb2d;
    --Full_White: #fff;
    --Full_Black: #000;
    --Ligth_Gray: #ededed;
    --Dark_Gray: #bbb;

    --Grid_Red: #f00;
    --Grid_Green: #19c919;
    --Grid_Dark_Blue: #4040fb;
    --Grid_Ligth_Blue: #5ab2da;
    --Grid_Orange: #ffa333;
    --Grid_Purple: #8a2be2;
    --Grid_Yellow: #f7d547;
    --grid_Pink: #ed58a4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    scroll-padding: 150px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Oswald';
    gap: 20px;
    transition: background, color 0.6s;
    height: 200vh;
}

header {
    width: 95%;
    max-width: 900px;
    background: var(--Ligth_Gray);
    color: var(--Full_Black);
    margin-top: 20px;
    padding: 20px 0;
    font-size: 20px;
    border-radius: 10px;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(11, 1fr);
    position: sticky;
    top: 20px;
    z-index: 100;
}

header a {
    color: inherit;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
    transition: background 0.3s;
}

header a:hover {
    background: var(--Shadow);
}

picture {
    width: 95%;
    max-width: 900px;
    display: flex;
    overflow: hidden;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
}

/* Fin de estilos generales */


/* Slider 1 */

#Slider_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    text-align: center;
    flex: 1 0 100%;
}

.Slider1_Grid {
    width: 90%;
    max-width: 750px;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(5 , 1fr);
}

/* Slider 2 */

#Slider_3 {
    flex: 1 0 100%;
}

nav {
    max-width: 900px;
    width: 90%;
    height: 200px;
    background: var(--Ligth_Gray);
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
}

nav .Header_Profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 2.5px 10px var(--Full_White), 0 0 10px 20px var(--Dark_Gray);
    
}
nav .Header_Profile img{
    width: 100%;
}

nav .Header_NickName {
    font-size: 35px;
}

nav .Header_Data p {
    color: var(--Dark_Gray);
}