@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');

:root {
    --Shining_Green: #00bb2d;
    --Full_White: #fff;
    --Full_Black: #000;
    --Ligth_Gray: #ededed;
    --Dark_Gray: #bbb;

    --Grid_Red: #f00;
    --Grid_Green: #19c919;
    --Grid_Dark_Blue: #4040fb;
    --Grid_Ligth_Blue: #5ab2da;
    --Grid_Orange: #ffa333;
    --Grid_Purple: #8a2be2;
    --Grid_Yellow: #f7d547;
    --grid_Pink: #ed58a4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    scroll-padding: 150px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Oswald';
    gap: 20px;
    transition: background 0.6s, color 0.6s;
}

header {
    width: 95%;
    max-width: 900px;
    background: var(--Ligth_Gray);
    color: var(--Full_Black);
    margin-top: 20px;
    padding: 20px 0;
    font-size: 20px;
    border-radius: 10px;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(11, 1fr);
    position: sticky;
    top: 20px;
    z-index: 100;
}

header a {
    color: inherit;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
    transition: background 0.3s;
}

header a:hover {
    background: var(--Dark_Gray);
}

picture {
    width: 95%;
    max-width: 900px;
    display: flex;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    padding: 20px 0;
}

picture .Picture_Sliders {
    display: flex;
    flex: 1 0 100%;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

/* Fin de estilos generales */


/* Slider 1 */

#Slider_1 .Slider1_Grid {
    width: 90%;
    max-width: 750px;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(5 , 1fr);
}

#Slider_1 #Slider1_Activity {
    display: flex;
    flex-direction: column;
}

#Slider_1 #Slider1_CardInformation {
    width: 500px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 45px;
    background: var(--Dark_Gray);
    border-radius: 10px;
    box-shadow: 10px 10px 20px -7px var(--Full_Black);
}

#Slider1_CardInformation input {
    outline: none;
    background: transparent;
    border: none;
    font-family: inherit;
    letter-spacing: 2px;
    color: inherit;
}

.Card_Name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 60px;
    margin-bottom: 20px;
}

.Card_Name input {
    font-size: 30px;
    font-weight: bold;
}

.Card_Description textarea{
    width: 100%;
    height: 120px;
    margin-top: 20px ;
    padding: 10px 20px;
    font-family: inherit;
    font-size: 20px;
    font-weight: 300;
    background: var(--Ligth_Gray);
    border: 2px solid var(--Full_Black);
    border-radius: 5px;
    resize: none;
    outline: none;
}

.Card_Details {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: center;
}

.Card_Details .Card_Color {
    width: 60px;
    height: 60px;
    border: 2px solid var(--Full_Black);
    border-radius: 10px;
    box-shadow: 0 0 5px 5px var(--Ligth_Gray);
    overflow: hidden;
}

.Card_Color input {
    width: 200%;
    height: 200%;
    transform: translate(-25%, -25%);
}

.Card_Details_Time input{
    font-size: 20px;
}

/* Fin de Slider 1 */

/* Slider 2 */

/* Fin de Slider 2 */

/* Slider 3 */

.Content{
    width: 800px;
    background-color: var(--Ligth_Gray);
    height: 100vh;
    /* outline: 2px #ededed; */
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 0 0 7px black;
}
.Content_Header {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    height: 10%;
    background-color: #19c919;
}
.Content_Header input{
    width: 40%;
    height: 60%;
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 8px;
    background-color: var(--Full_White);
    
}
.Content_Header div{
    display: flex;
    background-color: var(--Ligth_Gray);
    padding: 8px;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
}
.Content_Header i{
    font-size: x-large;
}
.Content_Main{
    display: flex;
}
.Content_Menu{
    width: 25%;
    height: 100vh;
    border-right: 2px solid darkslategrey;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 10px;
    padding-top: 20px;
}
.Content_Menu span{
    background-color: var(--Full_White);
    border-radius: .5em;
    font-size: large;
    color: darkslategrey;
    display: flex;
    align-items: center;
    gap: 10px;
    letter-spacing: 1px;
    padding: 0 10px;
    height: 35px;
    transition: .3s;
}
.Content_Menu span:hover{
    /* background-color: var(--Ligth_Gray); */
    box-shadow: 0 0 5px black;
    color: var(--Full_Black);
    transition: .3s;
}
.Content_Target{
    width: 60%;
    height: 400px;
    background-color: var(--Full_White);
    margin: 0 auto;
    margin-top: 10px;
    outline: 2px solid darkslategrey;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.Target_1{
    display: flex;
    /* background-color: #19c919; */
    height: 12%;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
.Target_1-a{
    display: flex;
    gap: 5px;
    /* background-color: #f7d547; */
    width: 40%;
    /* height: 100%; */
    align-items: center;
}
.Target_Perfil{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--Ligth_Gray);
    height: 40px;
    width: 40px;
    color: var(--Full_Black);
    border-radius: 100%;
    background-size: cover;
    background-position: center;
    font-size: large;
    outline: 1px solid black;
}

.Target_1-a+div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 25%;
    border-radius: 5px;
    font-size: large;
    color: var(--Full_White);
    background-color: var(--Grid_Red);
}
.Target_Icon{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(45deg);
    background-color: var(--Ligth_Gray);
    color: var(--Grid_Red);
    height: 35px;
    width: 35px;
    border-radius: 5px;
    border: 1px solid black;
}
.Target_Icon i{
    transform: rotate(-45deg);
}
.Target_2{
    height: 70%;
    background-color: #fff;
    background-image: url('https://images.ctfassets.net/ipjoepkmtnha/687anB2sdEnlVt1ZgQdM8g/b51a3082dedf2f1afbf048f73b789b76/technogym-myrune-home-img.jpg');
    background-size: cover;
    background-position: top;
}
.Target_3{
    height: 12%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.Comment{
    width: 30%;
    /* overflow: hidden; */
}
.Comment textarea{
    outline: none;
    border: 1px solid transparent;
    background-color: var(--Ligth_Gray);
    outline: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    color: darkslategrey;
}
/* Fin de Slider 3 */

/* Slider 4 */

#Slider_4 ul {
    list-style: none;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    background: var(--Ligth_Gray);
    text-align: center;
}

.Config_List li{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin: 20px;
}

.fa-link {
    transform: rotate(45deg);
}

#Slider_4 form {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background: var(--Ligth_Gray);
    border-radius: 10px;
    padding: 10px 0;
}

.Form_Hero {
    text-align: center;
}

.Form_Inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Form_InputContent {
    position: relative;
}

.Form_InputContent input {
    font-size: 25px;
    font-family: inherit;
    border: none;
    padding: 10px 0px 10px 40px;
    border-radius: 10px;
}

.Form_InputContent img {
    position: absolute;
    width: 35px;
}